# Homework 1

## 1.) Read the CSV file into a pandas dataframe

In [1]:
# Download data if it is not present
import os
p = os.path.split(os.getcwd())
p = os.path.join(p[0], 'data')
if not os.path.exists(p):
    os.mkdir(p)
p = os.path.join(p, 'bikes.csv')
if not os.path.exists(p):
    from subprocess import call
    data_dir, _ = os.path.split(p)
    os.chdir(data_dir)
    call('curl -o bikes.csv https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD', shell=True)
else:
    pass

In [2]:
# Load the CSV file into a pandas dataframe
import pandas as pd
df = pd.read_csv(p)
df.head()

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,10/03/2012 12:00:00 AM,9.0,4.0
1,10/03/2012 01:00:00 AM,6.0,4.0
2,10/03/2012 02:00:00 AM,1.0,1.0
3,10/03/2012 03:00:00 AM,3.0,2.0
4,10/03/2012 04:00:00 AM,1.0,6.0

## 2.) Add columns to the dataframe

In [3]:
# Total east + west bicycle count
df['Fremont Bridge Both Sidewalks'] = df['Fremont Bridge East Sidewalk'] + df['Fremont Bridge West Sidewalk']
df.head()

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,Fremont Bridge Both Sidewalks
0,10/03/2012 12:00:00 AM,9.0,4.0,13.0
1,10/03/2012 01:00:00 AM,6.0,4.0,10.0
2,10/03/2012 02:00:00 AM,1.0,1.0,2.0
3,10/03/2012 03:00:00 AM,3.0,2.0,5.0
4,10/03/2012 04:00:00 AM,1.0,6.0,7.0

In [18]:
# Hour of the day and year
dt = pd.to_datetime(df['Date'], format='%m/%d/%Y %I:%M:%S %p')
list1 = []
list2 = []
for i in range(len(dt)):
    list1.append(dt[i].hour)
    list2.append(dt[i].year)
df['Hour'] = pd.Series(list1)
df['Year'] = pd.Series(list2)
df.head()

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,Fremont Bridge Both Sidewalks,Hour,Year
52531,09/30/2018 07:00:00 PM,18.0,17.0,35.0,19,2018
52532,09/30/2018 08:00:00 PM,8.0,16.0,24.0,20,2018
52533,09/30/2018 09:00:00 PM,3.0,4.0,7.0,21,2018
52534,09/30/2018 10:00:00 PM,2.0,7.0,9.0,22,2018
52535,09/30/2018 11:00:00 PM,6.0,4.0,10.0,23,2018

# 3.) Create a dataframe with the subset of data from the year 2016